.places {
    width: 100%;
    height: 703px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9f8;
}

.places-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.places-div {
    width: 357px;
    height: 550px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    gap: 20px;
    flex-direction: column;
}

.places-flex2 {
    width: 700px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.places-img {
    width: 100%;
    height: 200px;
    background-image: url(https://www.tooplate.com/templates/2095_level/img/img-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.places-btn {
    width: 170px;
    height: 44px;
    border: none;
    background-color: #EE5057;
    color: white;
}

.places-img2 {
    width: 100%;
    height: 200px;
    background-image: url(https://www.tooplate.com/templates/2095_level/img/img-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.places-div2 {
    width: 380px;
    height: 580px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

.places-dd {
    width: 100%;
    height: 84px;
    background-color: #EE5057;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.places-pp {
    width: 305px;
    height: 85px;
    background-color: #f8f9f8;
    display: flex;
    justify-content: space-between;
}

.places-pp-img {
    width: 85px;
    height: 100%;
    background-image: url(https://www.tooplate.com/templates/2095_level/img/tn-img-01.jpg)
}

.europe {
    position: relative;
    left: -40px;
}

.places-pp-img2 {
    width: 85px;
    height: 100%;
    background-image: url(https://www.tooplate.com/templates/2095_level/img/tn-img-02.jpg)
}

.places-pp-img3 {
    width: 85px;
    height: 100%;
    background-image: url(https://www.tooplate.com/templates/2095_level/img/tn-img-03.jpg)
}

.places-pp-img4 {
    width: 85px;
    height: 100%;
    background-image: url(https://www.tooplate.com/templates/2095_level/img/tn-img-04.jpg)
}

.america {
    font-size: 23px;
    position: relative;
    left: -10px;
}

@media screen and (max-width: 1050px) {
    .places-flex {
        flex-wrap: wrap;
        gap: 20px;
    }
    .places-flex2 {
        flex-wrap: wrap;
    }
    .places {
        height: 2000px;
    }
}